@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"); /*Loads all 3,800+ icons, with 295 KB font payload. It is advised to only load necessary icons (~0.6KB each) https://developers.google.com/fonts/docs/material_symbols*/

:root {
  --padding-menu-hor: 16px;
}

button.r_dropdown {
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #f0f8ff;
  padding: 6px 6px;
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 240ms cubic-bezier(0.75, 0, 0.25, 1);
}

button.r_dropdown:hover,
li.r_menu_item:hover {
  background-color: #ffffff20;
}

button.r_dropdown:active,
li.r_menu_item:active {
  transition: background-color 0ms;
  background-color: transparent;
}

.r_dropdown_content_menu {
  all: unset;
  display: block;
  border-radius: 6px;
  background-color: #222;
  padding: 6px 0px;
  min-width: max-content;
  max-width: 400px;
}

.r_dropdown_content_menu[data-r_menu_visible="false"] {
  display: none;
}

.r_menu_item {
  all: unset;
  display: block;
  padding: 8px var(--padding-menu-hor, 16px);
  transition: background-color 240ms cubic-bezier(0.75, 0, 0.25, 1);
}

.r_menu_item > button {
  all: unset;
  display: flex;
  align-items: center;
  gap: var(--padding-menu-hor, 16px);
  width: 100%;
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
}

.r_menu_item_title {
  font-weight: bold;
  display: block;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
