.slider-navigation {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.8em;
  padding: 1em;
  background-image: linear-gradient(
    transparent,
    rgba(12, 12, 12, 0.1),
    rgba(12, 12, 12, 0.3),
    rgba(12, 12, 12, 0.6)
  );
}

.slider-navigation-cell {
  width: 1em;
  height: 0.33em;
  border-radius: 1em;
}
