html,
body {
  padding: 0;
  margin: 0;
  background-color: #0c0c0c;
  color: #e6e6fa;
}

.image-slider {
  width: 100vw;
  height: 30vw;
  overflow: hidden;
  margin: 0 auto;
}

.image-slider > img {
  object-fit: contain;
}
